In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
user='root'
password='root'
host='localhost'
port=3306
database='amazon'
table_name='amazon_sale_report'
csv_file='C:/Users/saeed/Downloads/Amazon Sale Report.csv\Amazon Sale Report.csv'

<>:7: SyntaxWarning: invalid escape sequence '\A'
<>:7: SyntaxWarning: invalid escape sequence '\A'
C:\Users\saeed\AppData\Local\Temp\ipykernel_8524\1696570122.py:7: SyntaxWarning: invalid escape sequence '\A'
  csv_file='C:/Users/saeed/Downloads/Amazon Sale Report.csv\Amazon Sale Report.csv'

In [7]:
engine=create_engine(f'mysql+mysqlconnector://{user}:{password}@{host}:{port}/{database}')

In [8]:
chunk_size=10000

In [10]:
for i,chunk in enumerate(pd.read_csv(csv_file,chunksize=chunk_size)):
    print(f'inserting chunk {i+1}...')
    chunk.to_sql(name=table_name,con=engine,if_exists='append',index=False)
print('Data import Complete')

inserting chunk 1...
inserting chunk 2...
inserting chunk 3...
inserting chunk 4...
inserting chunk 5...
inserting chunk 6...
inserting chunk 7...
inserting chunk 8...
inserting chunk 9...
inserting chunk 10...
inserting chunk 11...
inserting chunk 12...
inserting chunk 13...
Data import Complete

In [11]:
import mysql.connector

In [12]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="amazon"
)

mycursor = mydb.cursor()

In [ ]:
mycursor,execute(